<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper 사용하기 위해서 https://mybatis.org/mybatis-3/ko/getting-started.html 에서
아래의 소스 복붙 -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.myspring.mapper.TimeMapper">
 <select id="getTime2" resultType="String">
 <!-- resultType 은 결과값 받을 타입 설정 -->
 	select sysdate()
 </select>
 </mapper>