@charset "UTF-8";

.uploadResult{
	width:100%;
	background-color: #F1C9C1;
}

.uploadResult ul li img{

}

.uploadResult ul li{
	list-style: none;
	padding: 10px;
	align-content: center;
	text-align: center;
}

.uploadResult ul li img{
	width:100px;
	height: 100px;
}