@charset "UTF-8";

body{	
	font-family: 'Noto Sans KR', sans-serif;
}

h1{
	text-align: center;
	
}

form{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #e6d1cf;	
	padding: 10px 10px;
}

.fileDrop{
	margin: 0 auto;
	width: 500px;
	height:100px;
	background-color: #f0b7a4;
	border: 1px solid #e6d1cf;
	padding : 10px 10px;
	text-align: center;
	
}

.title{
	width: 100px;
	text-align: right;
}

input {
	width: 300px;
}

.textbox{
	width: 100%;
	height: 100%;
	
}

textarea{
	width: 100%;
	height: 100%;
}

.textbox input{
	width: 200px;

}

.uploadResult ul li img{
	width: 20px;	
}

/* td{
	border: 1px solid #e6d1cf;
} */