@charset "UTF-8";

.uploadResult{
	width: 100%;
	height: 200px;
	background-color: skyblue;
}

/*
.fileDrop{
	border: 1px solid #000;
	width: 500px;
	height: 300px;
}
*/

.uploadResult ul li img{
	width: 20px;	
}


.uploadResult ul li{
	text-decoration: none;
}


